name: Build and Push Docker Image to GitHub Container Registry

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:  # This allows manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v3

#      # Set Docker tag to 'latest' if manually triggered or if building the main branch
#      - name: Set Docker tag
#        id: docker_tag
#        run: |
#          if [[ "${{ github.event_name }}" == "workflow_dispatch" || "${{ github.ref_name }}" == "main" ]]; then
#            echo "DOCKER_TAG=latest" >> $GITHUB_ENV
#          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
#            echo "DOCKER_TAG=pull-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
#          else
#            echo "DOCKER_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
#          fi
#
#          # Load the new environment variable
#          source $GITHUB_ENV
#
#          # Ensure the Docker tag is lowercase
#          DOCKER_TAG=$(echo "${DOCKER_TAG}" | tr '[:upper:]' '[:lower:]')
#          echo "DOCKER_TAG=${DOCKER_TAG}" >> $GITHUB_ENV

      # Log in to GitHub's Container Registry using the GITHUB_TOKEN
      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

#      # Build the Docker image (repository name and tag must be lowercase)
#      - name: Build Docker image
#        run: |
#          REPO_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
#          source $GITHUB_ENV  # Load the updated DOCKER_TAG
#          docker build -t ghcr.io/${REPO_NAME}:${DOCKER_TAG} ./
#
#      # Push the Docker image to GitHub Container Registry
#      - name: Push Docker image to GitHub Container Registry
#        run: |
#          REPO_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
#          source $GITHUB_ENV  # Load the updated DOCKER_TAG
#          docker push ghcr.io/${REPO_NAME}:${DOCKER_TAG}

      - name: set lower case owner name
        run: |
          echo "REPO_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository }}'

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/{{ ${REPO_LC} }}:latest
            ghcr.io/{{ ${REPO_LC} }}:${{ github.sha }}
      - name: UpdateGitOps repository
        shell: bash
        env:
          GIT_TOKEN: ${{secrets.GITOPS_PAT }}
        run: |
          # Setup creds
          git config --global credential.helper store
          echo "https://${GIT_TOKEN}:x-oauth-basic@github.com" > ~/.git-credentials
          rm -rf gitops
          
          # Clone repo and cd to app
          git clone https://github.com/even44/kubuxter.git gitops
          cd gitops/talos-proxmox-cluster/kustomize/starinventory
          
          # Replace image
          sed -i "s|image: ghcr.io/${{ github.repository }}:.*|image: ghcr.io/${{ github.repository}}:${{github.sha}}|g" api-deployment.yaml
          
          # Commit changes
          git config --global user.name "Github Actions - Star Inventory"
          git config --global user.email "actions@github.com"
          git add api-deployment.yaml
          git commit -m "Update image to ${{github.sha}}"
          
          git push -f https://${GIT_TOKEN}@github.com/even44/kubuxter.git main
